@charset "UTF-8";

a{text-decoration: none;}
li{list-style: none;}
*{margin: 0; padding: 0;}

	
#main_box{
	width: 1500px; 
	margin: 0 auto; 
}
#head {
	position: relative;
	height: auto;
	min-height: 80px;
}
#head h1{
	position: absolute;
	left : 5px; bottom: 0px;
}

/* 로그인 , 마이페이지 */
#my_bar{
	position: absolute;
	right: 0px; bottom: 0px;
	margin-bottom: 1px;
}
#my_bar li{
	float: right;
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
	border-top: 1px solid gray;
	font-size: 15px;
}
#my_bar li:last-child{
	border-left: 1px solid gray;
}
#my_bar li a{
	display: block; padding: 10px 15px; color: #282828; background: gray; font-weight: bold;
}
#my_bar li a:hover{
	background: #aaf; color:#fff; font-weight: bold;
	}

/* 커뮤니티바 */
#community_bar{
	width: 1500px; height:60px;
	margin: 0 auto; 
	background: #282828;
}

#community_bar > li{
	float:left;
	position: relative;
	margin: 5px 10px;
	margin-left: 10%;
}

#community_bar > li a{
	text-align: center;
	display: block;
	padding: 15px 20px;
	color:#e7e5e5;
	width: 120px;
}
#community_bar > li a:hover{
	background: #FFFFF0;
	color:#444;
}

#community_bar ul{
	position: absolute;
	left:0; top:45;
	display: none;
	border-top: 1px solid black;
}
#community_bar li:hover ul{background: #FFFFF0; display:block; z-index: 2;}
#community_bar li:hover > a{background: #FFFFF0; color: #666;}
#community_bar ul a{color:#333; background: #fff;}
#community_bar ul li:hover a{background: #ccc;
								color:#666;}
/* 지도, 버스목록 */
#bus_content{
		  width: 1500px;
		  margin-top: 10px;
		  overflow: hidden;
		  background:#001a11; 
		  position: relative;
		  }

#bus_info{
	float: right;
	background: maroon;
	height: 900px;
	width: 29%;
	color: #fff;
	}
#bus_view{
	background: gray;
	width: 70%;
	height: 900px;
	float: left;
}
#bus_search_btn{
	position: relative;
	right:35%;
	border: 1px solid blue;
	position: absolute;
}
#busStapName{
	margin-left: 30px;
	border: 2px solid black;
	border-radius: 10px;/* 모서리 둥글게 */
	width: 500px; height: 40px;
	margin-top: 10px;
	position: absolute;
	right: 200px;
	text-indent: 10px;
	outline: none;
}
#search{width: 150px; 
	height: 40px;
	position:absolute;
	right:20px;
	margin-top: 10px;
}
#bus_list{
	border: 1px solid black;
	margin: 10px;
	height: 600px;
}
#bus_list li p{
	color: #fff;
}
#bus_list li ul li a{
	color : #fff;
}
#bus_list li ul li{
	margin: 10px 0;
}

/* 검색창 css */
#modal_main{
	position: absolute;
	left: 50% ; top: 30%;
	margin-left: -300px;
}

#modal{
	display:none;
	position:relative;
	width:100%;
	height:100%;
	z-index:1;
}
#modal_content{
	width: 500px;
	margin: auto;
	text-align: center;
	border: 5px solid black;
	background: #fff;
}
#modal_content > h1{
	margin-bottom: 10px;
	margin-top: 10px;
	font-size: 30px;
	color:black;
	text-align:center;
	text-shadow:2px 2px 2px gray;
}
#modal .modal_layer { /* 뒷배경 검게만듬 */
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.5); /* 불투명하게 함 */
    z-index:-1;
}   

/* 정류소 입력창 */
#station{
	margin-bottom: 20px;
	margin-top: 20px;
}
#input_station{
	overflow: hidden;
	margin-left: 10%;
}
#input_station > li{
	float: left;
}
#input_station ul{
	position: absolute;
	width: 300px;
	background: #FEFDFD;
	display: none;
}
#input_station ul li a{
	text-align: left;
	display: inline-block;
	color:#000;
	width: 250px;
	height: 30px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
#input_station ul li a:hover{
	background: #E6E3E3;
}
.st_del_btn{
	width: 20px;
	height: 20px;
}

/* 버스번호 입력창 */
#bus_num{
	margin-bottom: 20px;
	margin-top: 20px;
}
#input_busNum{
	overflow: hidden;
	margin-left: 10%;
}
#input_busNum > li{
	float: left;
}
#input_busNum ul{
	position: absolute;
	width: 300px;
	background: #FEFDFD;
	display: none;
}
#input_busNum ul li a{
	text-align: left;
	display: inline-block;
	color:#000;
	width: 250px;
	height: 30px;
	padding: 10px 10px;
}
#input_busNum ul li a:hover{
	background: #E6E3E3;
}
.search_button{
	margin-left: 10px;
	width: 50px;
	height: 30px;
}
.bn_del_btn{
	width: 20px;
	height: 20px;
}

/* 모달 닫기, 열기 버튼 */
#option_btn{
	margin: 20px;
}
.op_btn{
	width: 100px;
	height: 35px;
}

#text_st{/* 검색창 모달 : 정류소 텍스트창 */
	border: 2px solid blue;
	border-radius: 10px;/* 모서리 둥글게 */
	width: 300px;
	height: 30px;
	text-indent: 10px;
	font-size: 15px;
	outline:none; /* text 입력시 아웃라인 제거 */
}

#text_n{
	border: 2px solid blue;
	border-radius: 10px; /* 모서리 둥글게 */
	width: 300px;
	height: 30px;
	text-indent: 10px; /* 들여쓰기 */
	font-size: 15px;
	font-style: inherit;
	outline:none; /* text 입력시 아웃라인 제거 */
}


























